/dataset/data/*
/dataset/data_fraunhofer/*
/dataset/data_fraunhofer_separate/*
/dataset/data_cervix93.pickle
/dataset/data_fraunhofer.pickle
/dataset/data_fraunhofer_separate.pickle
/dataset/data_fraunhofer_elastic.pickle
__pycache__/
results/Baseline_results_without_TVL/
results/bright_contrast_correction/
results/with_TVL/
test_images_for_EDOF/